{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-4">

            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">

                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <h4 style="display: inline-block; float: right;">${{product.price|floatformat:2}}</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <p>Description</p>
            <p>elit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim </p>

            <a class="btn btn-outline-dark" href="{% url 'store' %}">&#8592; Continue Shopping</a>

        </div>
    </div>
{% endblock content %}