{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row" style="margin: 10px;margin-top: 100px">
        {% for product in products %}
        <div class="col-lg-4">
            <div style="max-width:350px;">
                <img class="thumbnail" src="{{product.imageURL}}">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>
                        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart">+</button>
                        <a class="btn btn-outline-secondary" href="{% url 'product_single' pk=product.pk %}"><i class="fas fa-eye" style="color: #628BDF"></i></a>
                        <h4 style="display: inline-block; float: right; font-weight: 500;">&#8381;{{product.price|floatformat:2}}</h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}